a{
  text-decoration: none;
}
.discount {
    background-color: #04989E;
    color: white;
}




/* nav list item start  */
ul {
    list-style: none;

}

ul li a {
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
}

/* nav list item end  */




/* about first container  */
.about-img{
    display: flex;
   margin-bottom: 2rem;
   display: flex;
   
 }
 .about-para{
   margin: 1rem 2rem 0 0;
 }
 .explore{
   margin-top: 3rem;
   margin-bottom: 2rem;
 }
 .Rectangle{
    position: relative;
    width: 100%;
    opacity: 0.9;
    /* margin-left: 1rem; */
    opacity: 0.8;
  }
/* about first container end  */



/* about second container */
.box-about{
    border: 10px solid  #04989E;
    border-style:ridge;
    margin-top: 150px;
    background-color: #d3f1f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .first-paragraph{

    width: 50vw;
    display: flex ;
    flex-direction: column;
  }
/* about second container  */







/* book tutor buton start  */
.btn-color {
    background-color: #00C9DA;
    color: white;
    border-radius: 20px;
}

.tutor {
    width: 145px;
    height: 40px;
    background-color: #00C9DA;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
}

/* book tutor buton end  */





/* footer css start  */
.footer-row {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* footer css end  */