.discount {
    background-color: #04989E;
    color: white;
}




/* nav list item start  */
ul {
    list-style: none;

}

ul li a {
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
}

/* nav list item end  */







/* book tutor buton start  */
.btn-color {
    background-color: #00C9DA;
    color: white;
    border-radius: 20px;
}

.tutor {
    width: 145px;
    height: 40px;
    background-color: #00C9DA;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
}

/* book tutor buton end  */


/* front page first container css start  */
full-box{
    margin-top: 100px;
  }
  .box-video{
    margin-top: 60px;
  }
  @media only screen and (max-width: 990px) {
     .box-video {
      display: flex;
      justify-content: center;
      margin-top: 0;
    }
  }
  .video-box {
    width: 235px;
    height: 155px;
    position: relative;
    overflow: hidden;
  }
  
  .video-box video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.heading{
    font-size: 50px;
    color: black;
    text-align: center;
    margin-top: 4rem;
}
.text-mar{
    margin: 2rem 3rem;
    font-size: 12px;
 }
.span-color{
    color: #00C9DA;
}
.two-img{
    margin-top: 8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
 }
 @media only screen and (max-width: 990px) {
  .two-img {
   display: flex;
   justify-content: center;
   align-items: center;
 }
}
.scroll{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
 }
 /* front page first container css end  */




 /* like footer start  */
 .green-container{
    position: relative;
    /* width: 100%; */
    height: 250px; 
   
  }
  
  .vactor-img{  
    position: absolute;
    bottom: 0;
    right: 12rem;  /* use "left" instead if you want to align the image at the left end  */
    margin-bottom: 7rem;
  }
  @media only screen and (max-width: 990px) {
    .vactor-img {
        right: 0rem;
       }
     }
  .color-foot{
    background-color: #00C9DA;
    position: relative;
    height: 150px;
    margin-top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-left: 10rem;
    padding-right: 10rem;
  }
  .p-anchor{
    color: white;
  }
  @media only screen and (max-width: 990px) {
    .color-foot {
        background-color: #00C9DA;
        position: relative;
        height: 150px;
        margin-top: 7rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding-left: 0;
        padding-right: 0;
       }
     }
     /* like footer end  */



/* what out client say about us ? start  */
 .client-about{
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
    /* height: 100vh; */
  }
 
.client{
  display: flex;
  justify-content: center;
  margin: 6rem 0   2rem 0;

}
.client1{
  display: flex;
  justify-content: center;
  margin: 1rem 9rem   2rem 9rem;
  text-align: center;
}
@media only screen and (max-width: 990px) {
    .client1 {
        margin: 1rem 3rem 2rem 3rem;
       }
     }
.box-items{
  width: 100%;
  height: 340px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
}
.first-box{
  margin-top: 5rem;

}
.vactor-yellow{
  width: 50px;
  height: 50px;
  position: absolute;
}
.client-name{
  margin: 1rem;
}
.client-text{
  font-size: 1rem;
  text-align: center;
  margin: 1rem 3rem 2rem 2rem;
}
.box-items2{
  width: 100%;
  height: 380px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  border-bottom: 8px solid rgb(0, 201, 218);

}
.vactor-yellow-last{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 9rem;
}
@media only screen and (max-width: 990px) {
  .vactor-yellow-last {
    right: 1.5rem;
     
     }
   }
   /* what our client say about us ? end  */





/* footer css start  */
.footer-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer css end  */