a{
    text-decoration: none;
}
.discount {
    background-color: #04989E;
    color: white;
}




/* nav list item start  */
ul {
    list-style: none;

}
ul li a {
    color: white;
    font-size: 1.5rem;
    margin-left: 1rem;
}
/* nav list item end  */







/* what out client say about us ? start  */
.client-about{
    background-color: #F4F4F4;
    display: flex;
    align-items: center;
    /* height: 100vh; */
  }
 
.client{
  display: flex;
  justify-content: center;
  margin: 6rem 0   2rem 0;

}
.client1{
  display: flex;
  justify-content: center;
  margin: 1rem 9rem   2rem 9rem;
  text-align: center;
}
@media only screen and (max-width: 990px) {
    .client1 {
        margin: 1rem 3rem 2rem 3rem;
       }
     }
.box-items{
  width: 100%;
  /* height: 340px; */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
}
.first-box{
  margin-top: 5rem;

}
.vactor-yellow{
  width: 50px;
  height: 50px;
  position: absolute;
}
.client-name{
  margin: 1rem;
}
.client-text{
  font-size: 1rem;
  text-align: center;
  margin: 1rem 3rem 2rem 2rem;
}
.box-items2{
  width: 100%;
  /* height: 380px; */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  border-bottom: 8px solid rgb(0, 201, 218);

}
.vactor-yellow-last{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 9rem;
}
@media only screen and (max-width: 990px) {
  .vactor-yellow-last {
    right: 1.5rem;
     
     }
   }
   /* what our client say about us ? end  */



/* book tutor buton start  */
.btn-color {
    background-color: #00C9DA;
    color: white;
    border-radius: 20px;
}

.tutor {
    width: 145px;
    height: 40px;
    background-color: #00C9DA;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    font-size: 20px;
}
/* book tutor buton end  */





/* footer css start  */
.footer-row {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* footer css end  */